<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="robots" content="noindex">

	##JQUERYINCLUDE##
	<script src="##root##src/template/comode.js"></script>
	<script>
		function confermaDeleteCheck(theForm) {
			confermaDeleteCheckMsg(theForm, "{Do you confirm to delete the selected banners?}");
		}
	</script>
	<title>##TITLE##</title>

	<script src="./template/elenco.js?v=##rand##"></script>

	<script>

	function setStato (c,id) {
		if(c=='go') jQuery('#cell_' + id + '_9').html("<span class=\"labelgrey\">{restarting...}</span>");
		if(c=='pause') jQuery('#cell_' + id + '_9').html("<span class=\"labelgrey\">{pausing...}</span>");
		jQuery.ajax("ajax.jobs.php?op="+c+"&id="+id);
	}

	$(document).ready(function() {

		/*$('table.griglia td').mouseenter(function(){
			$(this).find(".more a").show();
		});
		$('table.griglia td').mouseleave(function(){
			$(this).find(".more a").hide();
		});*/

		if($('body').hasClass("advertiser") && $('body').hasClass("nopayments")) {
			$('#td_add').hide();
		}
		if($('body').hasClass("advertiser")) {
			$('#td_client').hide();
		}
	} );


	</script>
	<style>td.col2,td.col3 {white-space:nowrap}</style>
</head>
<body class="##bodyclass##">
	<div class="panel2">
		<div class="titlecontainer">

			<h1 class='title'>##TITLE##</h1>
			
			##bottoni1## <!-- add -->
			
			##bottoni2## <!-- delete -->
			

		</div>
		<div class="filters">
			<form id='filtri' method='get' name='filtri'>
				<div class="field">
					<label>{Position}:</label>
					<span class="icon-filter">##combotipo##</span>
				</div>
				<div class="field" id='td_client'>
					<label>{Client}:</label>
					<span class="icon-filter">##comboclient##</span>
				</div>
				<div class="field">
					<label>{Campaign}:</label>
					<span class="icon-filter">##combocampaign##</span>
				</div>
				<div class="field">
					<label>{Find}:</label>
					<span class="icon-search"><input type="text" name="keyword" class='find' id="keyword" value="##keyword##" onkeypress="submitonenter('filtri',event,this)"/></span>
				</div>															
			</form>
		</div>

	</div>
	

	<!-- <div class='panel'>
		<form id='filtri' method='get' name='filtri'>
			<table>
				<tr>
					<td>{Position}: ##combotipo##</td>
					<td id='td_client'>{Client}: ##comboclient##</td>
					<td>{Campaign}: ##combocampaign##</td>
					<td>{Find}: <label><span class="find icon-search"></span><input type="text" name="keyword" class='find' id="keyword" value="##keyword##" onkeypress="submitonenter('filtri',event,this)"/></label></td>
					<td id='td_add'>##bottoni1##</td>
					<td id='td_del'>##bottoni2##</td>
				</tr>
			</table>
		</form>
	</div> -->
	<div class="corpo">
		##corpo##
	</div>
	<div id='tempdati' style='display:none'></div>
</body>
</html>