<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="robots" content="noindex">

	##JQUERYINCLUDE##
	<script src="##root##src/template/comode.js?v=##VER##"></script>


	<title>##TITLE##</title>
	
</head>

<body class="##bodyclass##">

	<div class="panel2">
		<div class="titlecontainer">
			<a href="##gestore##" class="annulla" title="{Cancel}"></a> <h1 class='title'>##TITLE##</h1> <a href="javascript:checkConStato()" class="salva"> {Save}</a>
		</div>
	</div>
	<div class="corpo">
		##STARTFORM##
		##id##
		##op##

		<fieldset class='mainfieldset'>
			<legend>{Profile info}</legend>
			
				<table>
					<tr>
						<td valign='top' width='150'>{Porfile #ID}*</td>
						<td>##id_profilo##</td>
					</tr>
					
					<tr>
						<td valign='top' width='150'>{Label}*</td>
						<td>##de_label##</td>
					</tr>

					<tr>
						<td valign='top' width='150'>{Description}</td>
						<td>##de_descrizione##</td>
					</tr>
					<tr valign="top">
						<td>Profili</td>
						
						<td>
							##elencoprofili##
						</td>
					</tr>
				</table>
			</fieldset>
		




	##ENDFORM##
</div>



</body>
</html>


