<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="robots" content="noindex">

	##JQUERYINCLUDE##
	<script src="##root##src/template/comode.js"></script>


	<title>##TITLE##</title>

	<style>
		.advertiser #tr_client {display:none}
	</style>
	
	<script>
	jQuery(document).ready(function($) {


		// no campaigns:
		// alert.
		if( $("#cd_cliente option").length==1 && $("#cd_cliente option").val() == "") {
			if($('body').hasClass("advertiser")) {
				msg = "You need to define your company in your profile.";
				link = "../gestioneutenti/mioprofilo.php";
			} else {
				msg = "You need to create a client first. Press OK to create a client.";
				link = "../7clienti/index.php?op=aggiungi";
			}
			if(gconfirm(msg + " ",function(){
				document.location.href= link;
			}));
		}

	});
	</script>
</head>

<body class="##bodyclass##">

	<div class="panel2">
		<div class="titlecontainer">
			<a href="##gestore##" class="annulla" title="{Cancel}"></a> <h1 class='title'>##TITLE##</h1> <a href="javascript:checkConStato()" class="salva"> {Save}</a>
		</div>
	</div>
	<div class="corpo">
		##STARTFORM##
		##id##
		##op##

	<fieldset class='mainfieldset'>
		<legend>{Campaign details}</legend>
		<div id='Datiprincipali'>
			<table>
				<tr>
					<td valign='top' width='150'>{Campaign title}*</td>
					<td>##de_titolo##</td>
				</tr>

				<tr id="tr_client">
					<td valign='top'>{Client}*</td>
					<td>##cd_cliente##</td>
				</tr>
				<tr>
					<td valign='top'>{Status}*</td>
					<td>##fl_status##
					<p>{Campaigns turned OFF will not be available in banner creation for new records, but banners will be delivered till the end of their timing.}<br>
					{Campaigns turned TOTALLY OFF will also stop serving all their banners.}</p></td>
				</tr>
			</table>
		</div>
	</fieldset>

	##ENDFORM##
</div>



</body>
</html>
