<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="robots" content="noindex">

	##JQUERYINCLUDE##
	<script src="##root##src/template/comode.js"></script>

	<title>##TITLE##</title>

</head>

<body>
	<div class="panel2">
		<div class="titlecontainer">

			<h1 class='title'>##TITLE##</h1>
			
			<!-- ##bottoni1## add -->
			
			<!-- ##bottoni2## delete -->
			
		</div>
		<div class="filters">
			<form id='filtri' method='get' name='filtri'>
				<div class="field">
					<label>{Filter}:</label>
					<span class="icon-filter">##combotipo##</span>
				</div>
				<div class="field">
					<label>{Find}:</label>
					<span class="icon-search"><input type="text" name="keyword" class='find' id="keyword" value="##keyword##" onkeypress="submitonenter('filtri',event,this)"/></span>
				</div>															
			</form>
		</div>

	</div>

	
	
	<div class="corpo">
		##corpo##
	</div>

</body>
</html>